.App{
  display: flex;
  justify-content: center;
  min-height: 100vh;
  align-items: center;
 flex-direction: column;
}

.quote{
   border-radius: 10px 20px 5px 40px; 
   height: 350px;
   width: 450px;
   background-color: blue;
  }